@media (max-width: 840px) {
    li {
        display: block;
    }
    .sucursales-propias {
        display: block;
    }
}    
@media (max-width: 590px) {
        .grid-container-header {
            display: block;
        }
        .container-index {
            display: block !important;
            justify-content: flex-start;
            align-items: center;
            height: 30vh;
            .imagen {
                height: 22vh !important;
                width: 80vw !important;
            }
        }
        .container-resto2 {
            display: block !important;
            .imagen2 {
                height: 20vh;
                width: 45vw;
            }
        }
        .container-resto3 {
            display: block !important;
            .imagen2 {
                height: 20vh;
                width: 45vw;   
            }
        }
        .justificado {
            margin-top: 2vh;
            margin-bottom: 2vh;
            font-size: 3vh;
        }
        h1 {
            justify-content: left;
        }
        h2 {
            font-size: 3vh;
            margin-left: 15vw;
        }
        .imagenes {
            width: 10vw;
            height: 10vh;
        }
        header {
            height: 20%;
            }
        ul {
        margin-bottom: 1vh;
        }
        li {
        font-size: 3vh;
        margin: 5vh;
        display: block !important;
        }
        nav {
            height: 5%;
        }
        #contactanos {
            margin-left: 0vw;
        }
        footer {
            height: 1vh !important;
            align-items: flex-end;
            justify-content: center;
            margin-bottom: 0vh;
            position: absolute;
        }
        .sucursales-propias {
            display: block !important;
            justify-content: flex-start;
            margin-bottom: 5vh;
        }
        .mapa {
            height: 30vh;
        }
}
@media (max-width: 590px) {
    #contactanos2 {
        width: 30vw;
    }
    li {
        height: 3vh;
    }
}